header {
    .logo {

        margin: 20px 0;

        img {
            width: 110px;
            margin: 0 0 10px 15px;
        }
    }

    @media (max-width: 992px) {
        .logo {
            text-align: center;
            img {
                width: 100px;
                margin: 0;
            }
        }
    }
}