$screen-xs-max : 33.9em;
$screen-sm-min : 34em;
$screen-sm-max : 47.9em;
$screen-md-min : 48em;
$screen-md-max : 61.9em;
$screen-lg-min : 62em;
$screen-lg-max : 74.9em;
$screen-xl-min : 75em;


//Colors
$color-1 : #1bc2a1;
$color-2 : #2ecc71;
$color-3 : #3498db;
$color-4 : #9b59b6;
$color-5 : #34495e;
$color-6 : #f1c40f;
$color-7 : #e67e22;
$color-8 : #e74c3c;
